<! DOCTYPE html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
 </head>

<body>
	<div class="container-fluid">
		<div class="row">
			<!-- Header -->
			<div class="col-xs-12 text-center"><h2>Bootstrap's 4 Grid System</h2></div>
		</div>

			<!-- Buttons -->
		<div class="row">
			<div class="col-md-3 text-center">
				<h3>Heading 1</h3>
				<p>Lorem ipsum dolor sit amet...</p>
				<a class="btn btn-default" href="#">Read More</a>
			</div>
			<div class="col-md-3 text-center">
				<h3>Heading 2</h3>
				<p>Lorem ipsum dolor sit amet...</p>
				<a class="btn btn-default" href="#">Read More</a>
			</div>
			<div class="col-md-3 text-center">
				<h3>Heading 3</h3>
				<p>Lorem ipsum dolor sit amet...</p>
				<a class="btn btn-default" href="#">Read More</a>
			</div>
			<div class="col-md-3 text-center">
				<h3>Heading 4</h3>
				<p>Lorem ipsum dolor sit amet...</p>
				<a class="btn btn-default" href="#">Read More</a>
			</div>
			<div class="col-md-3 text-center">
				<h3>Heading 5</h3>
				<p>Lorem ipsum dolor sit amet...</p>
				<a class="btn btn-default" href="#">Read More</a>
			</div>
			<div class="col-md-3 text-center">
				<h3>Heading 6</h3>
				<p>Lorem ipsum dolor sit amet...</p>
				<a class="btn btn-default" href="#">Read More</a>
			</div>
			<div class="col-md-3 text-center">
				<h3>Heading 7</h3>
				<p>Lorem ipsum dolor sit amet...</p>
				<a class="btn btn-default" href="#">Read More</a>
			</div>
			<div class="col-md-3 text-center">
				<h3>Heading 8</h3>
				<p>Lorem ipsum dolor sit amet...</p>
				<a class="btn btn-default" href="#">Read More</a>
			</div>
		</div>
	</div>

   <script src="https://code.jquery.com/jquery-3.2.1.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js">
</script>
</body>
