<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
 </head>

<body>
	<div class="jumbotron">
		<h1>Jumbotrons are nifty</h1>
		<p>A jumbotron is a grey box with rounded corners.  The text is bigger, so it (hopefully) grabs your attention!</p>
	</div>
	<img src="rogers.jpeg" class="img-circle"/>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js">
</script>
</body>
