<! DOCTYPE html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
 <link rel="stylesheet" href="stuff.css"/>
 </head>

<body>
	<div class="container-fluid">
       <!-- Bootstrap Grid -->
       <!-- Grid example from https://dzone.com/articles/working-with-bootstrap-4-grid-system-for-creating-->
       <!-- show-grid style from https://gist.github.com/dmglazunov/62489edc7147beb7ef70-->
       <div class="bs-example">
       <div class="row  show-grid">
         <div class="col-md-1 ">.col-md-1</div>
         <div class="col-md-1 ">.col-md-1</div>
         <div class="col-md-1 ">.col-md-1</div>
         <div class="col-md-1 ">.col-md-1</div>
         <div class="col-md-1 ">.col-md-1</div>
         <div class="col-md-1 ">.col-md-1</div>
         <div class="col-md-1 ">.col-md-1</div>
         <div class="col-md-1 ">.col-md-1</div>
         <div class="col-md-1 ">.col-md-1</div>
         <div class="col-md-1 ">.col-md-1</div>
         <div class="col-md-1 ">.col-md-1</div>
         <div class="col-md-1 ">.col-md-1</div>
       </div>
       <div class="row  show-grid">
         <div class="col-md-2 ">.col-md-2</div>
         <div class="col-md-3 ">.col-md-3</div>
         <div class="col-md-7 ">.col-md-7</div>
       </div>
       <div class="row show-grid">
         <div class="col-md-4 ">.col-md-4</div>
         <div class="col-md-4 ">.col-md-4</div>
         <div class="col-md-4 ">.col-md-4</div>
       </div>
       <div class="row show-grid">
         <div class="col-md-5 ">.col-md-5</div>
         <div class="col-md-7 ">.col-md-7</div>
       </div>
       <div class="row show-grid">
         <div class="col-md-6 ">.col-md-6</div>
         <div class="col-md-6 ">.col-md-6</div>
       </div>
       <div class="row show-grid">
         <div class="col-md-12 ">.col-md-12</div>
       </div>
</div>

     <div class="row" style="background-color:powderblue">
       <div class="col-md-8" style="color:white;background-color:#ffcc00">
          First 8 columns
       </div>
       <div class="col-md-4" style="color:white;background-color:#00cc00">
          Last 4 columns
       </div>
       <div class="row" style="background-color:powderblue">
       <div class="col-md-2" style="color:purple;background-color:#ffffff">
          First 2 columns are going right here
       </div>
       <div class="col-md-8" style="color:white;background-color:#bbbbbb">
         Middle 8 will follow in the fullness of time, don't you think?
       </div>
       <div class="col-md-2" style="color:white;background-color:#00ccaa">
          The last 2, heroically uninteresting columns.
       </div>
     </div>
   </div>
	</div>

   <script src="https://code.jquery.com/jquery-3.2.1.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js">
</script>
</body>
